extends layout

prepend html
  html(ng-app="signup")

block content
  .row
    .small-6.small-centered.columns(ng-controller="SignupController")
        form.panel.css-form(name="form")
          h1 Signup
          fieldset(ng-disabled='form_disabled')
            legend Please fill out your information.
            .row
              label(ng-class="errorUnlessValid('name')") Name
              input(name='name', type='text', ng-model='user.name', 
                    ng-class="errorUnlessValid('name')", required, autofocus)
              errormsg(type='name/required') Name is required.
            .row
              label(ng-class="errorUnlessValid('email')") Email
              input(name='email', type='email', ng-model='user.email',
                    ng-class="errorUnlessValid('email')", required, 
                    clear-on-input='taken')
              errormsg(type='email/taken') Email is already in use.
              errormsg(type='email/required') Email is required.
              errormsg(type='email/email') This is not a valid email
            .row
              label Location
              select(name='country', required)
                each item in countries
                  option(selected=item.name == user.country)= item.name
            hr
            .row
              label(ng-class="errorUnlessValid('user')") Username
              input(type='text', name='user', ng-model='user.user', required, 
                    ng-class="errorUnlessValid('user')", clear-on-input='taken')
              errormsg(type='user/required') Username is required
              errormsg(type='user/taken') Username is taken.
            .row
              label(ng-class="errorUnlessValid('password')") Password
              input(type='password', name='password', ng-model='user.password', 
                    ng-class="errorUnlessValid('password')", required)
              errormsg(type='password/required') Password is required
            .row
              label(ng-class="errorUnlessValid('password2')") Password Again
              input(type='password', name='password2', ng-model='user.password2', 
                    ng-class="errorUnlessValid('password2')", should-equal='password', required)
              errormsg(type='password2/equal') Passwords don't match.
              errormsg(type='password2/required') Password again is required
            .form-actions
              button(type='button', ng-click='goto("/")')#account-form-btn1.btn Cancel
              button(ng-disabled='needsFixed()', ng-click='update(user)')#account-form-btn2.btn Submit
  
  #success.reveal-modal
    h2 You've signed up!
    p Thanks for registering with us.  Next, we'll go to the login page...
    a.close-reveal-modal &#215;

block scripts
  != cdn_js('foundation/4.1.2/js/vendor/zepto.min.js')
  != cdn_js('foundation/4.1.2/js/foundation.min.js')
  != cdn_js('angular.js/1.1.1/angular.min.js')
  != cdn_js('angular.js/1.1.1/angular-resource.min.js')
  != js('utils')
  != js('controllers/signupController')
  script(src='/js/form-validators/accountValidator.js')
  script
    $(document).foundation();

